/* jumbotron */
.jumbotron { 
     
    background-image: url(../images/Bokeh-Wallpapers-HD.jpg);
    background-size: 29%;
}
#userInputButton {
 margin-top: 10px;
}

/* #mapDiv establishes a div for the map to render into */
#mapDiv {
 background-attachment: fixed;
  enable-background: 80%;
  width: auto;
  height:450px;
  margin-top: 40px;
}

/* #map tells the map to occupy 100% of the div */
#map {

   width:90%;
  height: 50%;
    margin-left: 20px;
     margin-right: 20px;

}

/* ________________________________________________________________ */
/* 2) api result panel */
/* ________________________________________________________________ */
.rightBottom {
  clear:both;
  padding-top: 10px;
  margin-top: 10px;
   width:100%;
  height: 400px;
  overflow:scroll;
  overflow-x: hidden;
 
}
.container {
  float:left;
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
   width:200px;
  height: 300px;

}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 2%;
    width:300px;
  /* height: 200px; */
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}


/* ________________________________________________________________ */
/* 3) font & text */
/* ________________________________________________________________ */

input[type=text] {
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
}

.textWrap {
  float: auto;
  margin-right: 10px;
}
#search{
  margin-top: 11px;
}
form {
  width: 85%;
  margin-top:20px; 
  margin-bottom: 10px;
  margin-left: 20px;
}
#leftSection {
  background:whitey;
  width:100%;
height: 1000px;
overflow:scroll;
overflow-x: hidden;
}


/* .googleFont {
  font-family: 'Helvetica', sans-serif;
} */
/* ________________________________________________________________ */
/* 4) mobile responsive design*/
/* ________________________________________________________________ */
